<section class="intro">
    <style>
        input.ng-invalid {border-color: red; background-image: url(assets/img/icon/failure.png); background-repeat: no-repeat; background-position: right;}
    </style>
    <div class="bg-image h-100" style="background-color: #6095F0;">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                      <thead>
                        <tr>
                          <th scope="col">
                            <div class="form-check">
                              #
                            </div>
                          </th>
                          <th scope="col">Công Ty</th>
                          <th scope="col">Vị Trí</th>
                          <th scope="col">Quản Lý</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in companys">
                          
                          <td>{{item.companyId}}</td>
                          <td>{{item.companyName}}</td>
                          <td>{{item.companyLocation}}</td>
                          <td><a class="btn btn-danger" href="#!/mycompany/{{item.companyId}}">Xem Company</a></td>
                        
                        </tr>
                      </tbody>
                    </table>
                    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Tạo Công Ty </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form name="frmExp" ng-submit="addCompany()">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="" class="form-control validate" ng-model="company.companyName" required>
          <label data-error="wrong" data-success="right" for="orangeForm-name">Tên Công Ty</label>
        </div>
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="" class="form-control validate" ng-model="company.companyLocation" required>
            <label data-error="wrong" data-success="right" for="orangeForm-name">Location</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="" class="form-control validate" ng-model="company.description" required>
            <label data-error="wrong" data-success="right" for="orangeForm-name">description</label>
          </div>

          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="" class="form-control validate" ng-model="company.website" required>
            <label data-error="wrong" data-success="right" for="orangeForm-name">website</label>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-deep-orange" type="submit">Add</button>
          </div>
        </form>
      </div>
      
    
    </div>
  </div>
</div>

  <a href="" class="btn btn-default btn-rounded " data-toggle="modal" data-target="#modalRegisterForm">Add Company</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>